*{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;background-position: center;text-align: center;color: white;
}
body{
    background-color: orange;
}

.container-one ol{
    background-color: black;color: white;display: inline-flex;padding-top: 25px;width: 922px;display: inline-flex;
}
.container-one ol li{
    margin: 10px;
}
.container-two{
    background-image: url("https://imageio.forbes.com/specials-images/imageserve/607d04ec56d815df82ef7c10/Remote-working-from-home--Freelancer-workplace-in-kitchen-with-laptop--cup-of-coffee/960x0.jpg?format=jpg&width=960");padding: 150px;text-align: center;background-repeat: no-repeat;
}
.b1{
    padding: 10px;background-color: orange;border: none;border-radius: 10px;
}
.container-two p{
   font-size: 40px;color: white;
}
.m ol{
    float: right;margin-right: 150px;padding-bottom: 80px;
}
.container-3{
    background-color: black;padding-top: 30px;
    display: flex;
}

button{
    color: black;padding: 10px;background-color: orange;border-radius: 10px;border: none;
}

.container-4{
    background: url("https://images.idgesg.net/images/article/2020/05/home-office-ideal-setup-angle-100843210-large.jpg?auto=webp&quality=85,70");padding: 50px;background-repeat: no-repeat;background-size: cover;padding: 10px;
}
.container-4 button{
    margin-left: 1000px;margin-bottom: 90px;border-radius: 0;
}
.container-4 h1{
 padding: 100px;
}
.ol{
    height:50px ;width: 50px;
}
.nl{
    height:50px ;width: 50px;
}
.el{
    height:50px ;width: 50px;
}

