*{
    color: white;
}

.ac{
    background-image: url("https://i.pinimg.com/736x/12/ac/e0/12ace04b228a985d80d65d57c2124f76.jpg");text-align: center;height: 250px;background-repeat: no-repeat;background-size: cover;height: 500px;font-family: Arial, Helvetica, sans-serif;
}

.proto{
    background-image: url("https://i.pinimg.com/originals/68/85/ef/6885ef1dd7d38e7cf736872c3755eed1.jpg");background-size: cover;text-align: left;height: 250px;background-repeat: no-repeat;height: 500px;font-family: 'Courier New', Courier, monospace;
}



.sd{
    background-image: url("https://cdn.wallpapersafari.com/94/81/TyVjkK.jpg");font-family: 'Times New Roman', Times, serif;background-size: cover;padding-top: 150px;padding-right: 160px;
}

.b1{
    color: black;
}

.b2{
    color: black;
}

.b3{
    color: black;
}

.ac p{
    margin-top: 100px;
}

.proto p{
    text-align: left;width: 200px;
}

.sd {
    text-align: right;height: 620px;
}

/* .sd p{
    width: 100px;margin-left: 690px;font-size: large;

} */

.sd h1{
    margin-left: -700px;
}

.sd button{
    margin-left: 500px;
} 

@media  only screen and (min-width:426px) and (max-width:600px) {
    .proto{
        width:100%;
    }
    .r2{
        display: none;
    }
    
}



@media only screen and (max-width:420px){
    .sd{
        width: 100%;
    }
    .proto,.ac{
        display: none;
    }
}


@media  only screen and (min-width:600px) and (max-width:2000px) {
    .ac{
        width:100%;
    }
    .proto,.sd{
        display: none;
    }
    
}
