.border{border: solid; height: 200px;width:200px;margin-left: 530px;color: rgb(26, 245, 7);margin-top: -300px;text-align: center;;}

h1{color: aliceblue;}

.pic{height:600px;width:600px;background-image: url('https://www.teahub.io/photos/full/20-203404_fmhvcdz-hacker-code-png.png');margin: auto;height: 500px;width: 500px;}

